:root {
	--body-bg: #FFFFFF;
	--body-text: #333333;
	
	--footer-bg: #F8F8F8;
	
	--list-text: #555555;
	
	--navbar-bg: #F8F8F8;
	--navbar-border: #E7E7E7;
	--navbar-text: #777777;
	--navbar-hover-text: #333333;
	--navbar-active-bg: #E7E7E7;
	--navbar-active-text: #555555;
}

html[data-theme='dark'] {
	--body-bg: #000000;
	--body-text: #CCCCCC;
	
	--footer-bg: #070707;
	
	--list-text: #AAAAAA;
	
	--navbar-bg: #070707;
	--navbar-border: #181818;
	--navbar-text: #888888;
	--navbar-hover-text: #CCCCCC;
	--navbar-active-bg: #181818;
	--navbar-active-text: #AAAAAA;
}

html{
	position:relative;
	min-height:100%
}

body{
	margin-bottom:80px;
	padding-top:50px;
	background: var(--body-bg);
	color: var(--body-text);
}
.footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	padding:15px 0;
	background-color: var(--footer-bg);
}
.footer
.container{
	padding:0 15px
}
#index-group
.list-group-item{
	min-height:64px;
	background-color: var(--body-bg);
	color: var(--list-text);
}
.date{
	white-space:nowrap;
	padding-right:16px;
	width:100px
}
.media-object{
	width:50px;
	height:50px
}
.jumbotron{
	background-image:url('img/punts.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center
}
.jumbotron h1{
	color:#fff;
	text-align:center;
	text-shadow:0 0 5px #000,0px 0 5px #000
}
#main h2{
	padding-top:64px;
	margin-top:-48px
}
::-webkit-scrollbar {
	all:auto;
}
body::-webkit-scrollbar-track {
	all:auto;
}
body::-webkit-scrollbar-thumb {
	all:auto;
}
.navbar-default {
	background-color: var(--navbar-bg);
    border-color: var(--navbar-border);
}
.navbar-default .navbar-nav > li > a {
	color: var(--navbar-text);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: var(--navbar-hover-text);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: var(--navbar-active-bg);
	color: var(--navbar-active-text);	
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: var(--navbar-bg);
	color: var(--navbar-text);
}
.navbar-default .navbar-toggle {
    border-color: var(--navbar-border);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: var(--navbar-bg);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--navbar-text);
}