include ../_mixins

.row
  .col-md-6
    ul.media-list
      +member("img/kristian.jpg", "Kristian Sutt (Homerton College)", "President")
      +member("img/teisi.jpg", "Teisi Tamming (Homerton College)", "Vice President")
      +member("img/toomas.jpg", "Toomas Kivisild (Department of Archeology ", "and Anthropology) Senior Treasurer")
      +member("img/kauraare.jpg", "Kaur Aare Saar (Trinity College)", "Junior Treasurer")
  .col-md-6
    ul.media-list
      +member("img/edward.jpg", "Edward Erelt (Trinity College)", "Secretary")
      +member("img/jaan2.jpg", "Jaan Toots (Trinity College)", "Webmaster")
      +member("img/joonas.jpg", "Joonas Kalda (Peterhouse)", "Communications Officer")
      +member("img/rasmus.jpg", "Rasmus Kisel (Trinity College)", "General Member")
