include ../_mixins

.row
  .col-md-6
    ul.media-list
      +member("/img/user.png", "Annela Anger-Kraavi (Downing College)", "President")
      +member("/img/user.png", "Halliki Voolma (King's College)", "Vice President")
      +member("/img/toomas.jpg", "Toomas Kivisild (Department of Archeology ", "and Anthropology) Senior Treasurer")
  .col-md-6
    ul.media-list
      +member("/img/user.png", "Ave Lauren (King's College)", "Junior Treasurer")
      +member("/img/user.png", "Kadri Siff (Jesus College)", "Social Secretary")
      +member("/img/user.png", "Astrid Tishler (Girton College)", "Secretary")
