include ../_mixins

.row
  .col-md-6
    ul.media-list
      +member("/img/user.png", "Annela Anger-Kraavi (Downing College)", "President")
      +member("/img/user.png", "Juhan Aru (Trinity College)", "Vice President")
      +member("/img/toomas.jpg", "Toomas Kivisild (Department of Archeology ", "and Anthropology) Senior Treasurer")
      +member("/img/seio.jpg", "Seio Saks (St John's College)", "Junior Treasurer")
  .col-md-6
    ul.media-list
      +member("/img/user.png", "Danel Ahman (Hughes Hall)", "IT Officer")
      +member("/img/rauno.jpg", "Rauno Siinmaa (Queens' College)", "Social Secretary")
      +member("/img/laura_uus.jpg", "Laura Valli (Queens' College)", "Secretary")
