include ../_mixins

.row
  .col-md-6
    ul.media-list
      +member("/img/kristian.jpg", "Kristian Sutt (Homerton College)", "President")
      +member("/img/teisi.jpg", "Teisi Tamming (Homerton College)", "Vice President")
      +member("/img/toomas.jpg", "Toomas Kivisild (Department of Archeology ", "and Anthropology) Senior Treasurer")
  .col-md-6
    ul.media-list
      +member("/img/kauraare.jpg", "Kaur Aare Saar (Trinity College)", "Junior Treasurer")
      +member("/img/rasmus.jpg", "Rasmus Kisel (Trinity College)", "Secretary")
      +member("/img/jaan.jpg", "Jaan Toots (Trinity College)", "IT Officer")
