include _mixins

.row
  .col-md-6
    ul.media-list
      +member("img/tiina_uus.jpg", "Tiina Annus (Sidney Sussex College)", "President")
      +member("img/kert.jpg", "Kert Pütsepp (King's College)", "Vice President")
      +member("img/toomas.jpg", "Toomas Kivisild (Department of Archeology ", "and Anthropology) Senior Treasurer")
      +member("img/kauraare.jpg", "Kaur Aare Saar (Trinity College)", "Junior Treasurer")
  .col-md-6
    ul.media-list
      +member("img/ingrid.jpg", "Ingrid Kauler (St Catharine's College)", "Social Secretary")
      +member("img/laura_uus.jpg", "Laura Valli (Queens' College)", "Secretary")
      +member("img/jaan.jpg", "Jaan Toots (Trinity College)", "IT Officer")
