.row
  .col-md-6
    ul.media-list
      li.media
        .media-left
          img.media-object(src='img/kadiliis2.jpg')
        .media-body
          | Kadi Liis Saar (Trinity College)
          br
          | President
      li.media
        .media-left
          img.media-object(src='img/kert.jpg')
        .media-body
          | Kert Pütsepp (King's College)
          br
          | Vice President
      li.media
        .media-left
          img.media-object(src='img/toomas.jpg')
        .media-body
          | Toomas Kivisild (Department of Archeology 
          br
          | and Anthropology) Senior Treasurer
      li.media
        .media-left
          img.media-object(src='img/seio.jpg')
        .media-body
          | Seio Saks (St John's College)
          br
          | Junior Treasurer
  .col-md-6
    ul.media-list
      li.media
        .media-left
          img.media-object(src='img/mattias.jpg')
        .media-body
          | Mattias Linnap (Churchill College)
          br
          | IT Officer
      li.media
        .media-left
          img.media-object(src='img/rauno.jpg')
        .media-body
          | Rauno Siinmaa (Queens' College)
          br
          | Social Secretary
      li.media
        .media-left
          img.media-object(src='img/tiina.jpg')
        .media-body
          | Tiina Annus (Sidney Sussex College)
          br
          | Social Secretary
      li.media
        .media-left
          img.media-object(src='img/helen.jpg')
        .media-body
          | Helen Ginter (Fitzwilliam College)
          br
          | Secretary
