.row
  .col-md-6
    ul.media-list
      li.media
        .media-left
          img.media-object(src='img/user.png')
        .media-body
          | Annela Anger-Kraavi (Downing College)
          br
          | President
      li.media
        .media-left
          img.media-object(src='img/user.png')
        .media-body
          | Juhan Aru (Trinity College)
          br
          | Vice President
      li.media
        .media-left
          img.media-object(src='img/toomas.jpg')
        .media-body
          | Toomas Kivisild (Department of Archeology 
          br
          | and Anthropology) Senior Treasurer
      li.media
        .media-left
          img.media-object(src='img/seio.jpg')
        .media-body
          | Seio Saks (St John's College)
          br
          | Junior Treasurer
  .col-md-6
    ul.media-list
      li.media
        .media-left
          img.media-object(src='img/user.png')
        .media-body
          | Danel Ahman (Hughes Hall)
          br
          | IT Officer
      li.media
        .media-left
          img.media-object(src='img/rauno.jpg')
        .media-body
          | Rauno Siinmaa (Queens' College)
          br
          | Social Secretary
      li.media
        .media-left
          img.media-object(src='img/laura_uus.jpg')
        .media-body
          | Laura Valli (Queens' College)
          br
          | Secretary
