.row
  .col-md-6
    ul.media-list
      li.media
        .media-left
          img.media-object(src='img/kadiliis2.jpg')
        .media-body
          | Kadi Liis Saar (Trinity College)
          br
          | President
      li.media
        .media-left
          img.media-object(src='img/kert.jpg')
        .media-body
          | Kert Pütsepp (King's College)
          br
          | Vice President
      li.media
        .media-left
          img.media-object(src='img/toomas.jpg')
        .media-body
          | Toomas Kivisild (Department of Archeology 
          br
          | and Anthropology) Senior Treasurer
      li.media
        .media-left
          img.media-object(src='img/kauraare.jpg')
        .media-body
          | Kaur Aare Saar (Trinity College)
          br
          | Junior Treasurer
  .col-md-6
    ul.media-list
      li.media
        .media-left
          img.media-object(src='img/jaan.jpg')
        .media-body
          | Jaan Toots (Trinity College)
          br
          | IT Officer
      li.media
        .media-left
          img.media-object(src='img/rauno.jpg')
        .media-body
          | Rauno Siinmaa (Queens' College)
          br
          | Social Secretary
      li.media
        .media-left
          img.media-object(src='img/ingrid.jpg')
        .media-body
          | Ingrid Kauler (St Catharine's College)
          br
          | Social Secretary
      li.media
        .media-left
          img.media-object(src='img/laura.jpg')
        .media-body
          | Laura Valli (Queens' College)
          br
          | Secretary
