.row
  .col-md-6
    ul.media-list
      li.media
        .media-left
          img.media-object.img-rounded(src='img/kristian.jpg')
        .media-body
          | Kristian Sutt (Homerton College)
          br
          | President
      li.media
        .media-left
          img.media-object.img-rounded(src='img/user.png')
        .media-body
          | Teisi Tamming (Homerton College)
          br
          | Vice President
      li.media
        .media-left
          img.media-object.img-rounded(src='img/toomas.jpg')
        .media-body
          | Toomas Kivisild (Department of Archeology 
          br
          | and Anthropology) Senior Treasurer
  .col-md-6
    ul.media-list
      li.media
        .media-left
          img.media-object.img-rounded(src='img/kauraare.jpg')
        .media-body
          | Kaur Aare Saar (Trinity College)
          br
          | Junior Treasurer
      li.media
        .media-left
          img.media-object.img-rounded(src='img/rasmus.jpg')
        .media-body
          | Rasmus Kisel (Trinity College)
          br
          | Secretary
      li.media
        .media-left
          img.media-object.img-rounded(src='img/jaan.jpg')
        .media-body
          | Jaan Toots (Trinity College)
          br
          | IT Officer
