.row
  .col-md-6
    ul.media-list
      li.media
        .media-left
          img.media-object(src='img/user.png')
        .media-body
          | Annela Anger-Kraavi (Downing College)
          br
          | President
      li.media
        .media-left
          img.media-object(src='img/user.png')
        .media-body
          | Halliki Voolma (King's College)
          br
          | Vice President
      li.media
        .media-left
          img.media-object(src='img/toomas.jpg')
        .media-body
          | Toomas Kivisild (Department of Archeology 
          br
          | and Anthropology) Senior Treasurer
  .col-md-6
    ul.media-list
      li.media
        .media-left
          img.media-object(src='img/user.png')
        .media-body
          | Ave Lauren (King's College)
          br
          | Junior Treasurer
      li.media
        .media-left
          img.media-object(src='img/user.png')
        .media-body
          | Kadri Siff (Jesus College)
          br
          | Social Secretary
      li.media
        .media-left
          img.media-object(src='img/user.png')
        .media-body
          | Astrid Tishler (Girton College)
          br
          | Secretary
