include _mixins

.row
  .col-md-8
    != partial("_welcome_en")
  .col-md-4
    .list-group#index-group
      a(href="https://lists.cam.ac.uk/mailman/listinfo/soc-cuest").list-group-item
        i.fa.fa-envelope.fa-3x.fa-pull-left.fa-fw
        | Join the mailing list soc-cuest.
      a(href="https://www.facebook.com/Cambridge-University-Estonian-Society-477008612493587/").list-group-item
        i.fa.fa-facebook.fa-3x.fa-pull-left.fa-fw
        | Recent news on our Facebook page.

.page-header
  h1 Events

.row
  .col-md-6
    +term_en("Lent Term 2017")
      +event("24 Feb", "Estonian Independence Day celebration & sauna")
      +event("9 Feb", "Formal at Peterhouse")
  .col-md-6
    +term_en("Michaelmas Term 2016")
      +event("1 Dec", "Baltic Bridgemas Social", "https://www.facebook.com/events/361363070884914/")
      +event("12 Nov", "Cambridge Baltic Conference", "http://www.cambridgebalticconference.eu/2016/")
      +event("2 Nov", "Annual General Meeting")
      +event("12 Oct", "Pub night at The Maypole")
.row
  .col-md-6
    +term_en("Lent Term 2016")
      +event("Jan", "Film night at Trinity")
      +event("Feb", "Formal at Trinity")
      +event("24 Feb", "Estonian Independence Day")
      +event("Mar", "Vodka Party")
  .col-md-6
    +term_en("Michaelmas Term 2015")
      +event("29 Nov", "Baltic Christmas pub night")
      +event("18 Nov", "Arvo Pärt: Passio concert", "http://www.kings.cam.ac.uk/events/concerts-at-kings/")
      +event("17 Nov", "Formal at Homerton College")
      +event("22 Oct", "Annual General Meeting")

.row: .col-md-6
  img(src="img/logo_1200.png" title="Cambridge University Estonian Society").img-responsive
