include _mixins

.row
  .col-md-8
    != partial("_welcome_ee")
  .col-md-4
    .list-group#index-group
      a(href="english").list-group-item
        i.fa.fa-globe.fa-3x.fa-pull-left.fa-fw
        | Confused about letters like äöõü? See the page in English!
      a(href="https://lists.cam.ac.uk/mailman/listinfo/soc-cuest").list-group-item
        i.fa.fa-envelope.fa-3x.fa-pull-left.fa-fw
        | Liitu Cambridge'i eestlaste meililistiga soc-cuest.
      a(href="https://www.facebook.com/Cambridge-University-Estonian-Society-477008612493587/").list-group-item
        i.fa.fa-facebook.fa-3x.fa-pull-left.fa-fw
        | Värskeid uudiseid leiad meie Facebooki lehelt.

.page-header
  h1 Üritused

.row
  .col-md-6
    +term_ee("Lent Term 2017")
      +event("19 Feb", "Saunapäev")
      +event("9 Feb", "Formal Peterhouses")
  .col-md-6
    +term_ee("Michaelmas Term 2016")
      +event("1 Dec", "Baltic Bridgemas Social", "https://www.facebook.com/events/361363070884914/")
      +event("12 Nov", "Cambridge Baltic Conference", "http://www.cambridgebalticconference.eu/2016/")
      +event("2 Nov", "Annual General Meeting")
      +event("12 Oct", "Pubiõhtu Maypole's")
.row
  .col-md-6
    +term_ee("Lent Term 2016")
      +event("Jan", "Filmiõhtu Trinitys")
      +event("Feb", "Formal Trinitys")
      +event("24 Feb", "Eesti Vabariigi aastapäev")
      +event("Mar", "Viinapidu")
  .col-md-6
    +term_ee("Michaelmas Term 2015")
      +event("29 Nov", "Balti jõuluteemaline pubiõhtu")
      +event("18 Nov", "Arvo Pärt: Passio kontsert", "http://www.kings.cam.ac.uk/events/concerts-at-kings/")
      +event("17 Nov", "Formal Homerton College's")
      +event("22 Oct", "Aasta üldkoosolek (AGM) – uue juhatuse valimine")

.row: .col-md-6
  img(src="img/logo_1200.png" title="Cambridge University Estonian Society").img-responsive
