.row
  .col-md-8
    != partial("_welcome_ee")
  .col-md-4
    .list-group#index-group
      a(href="english").list-group-item
        i.fa.fa-globe.fa-3x.fa-pull-left.fa-fw
        | Confused about letters like äöõü? See the page in English!
      a(href="https://lists.cam.ac.uk/mailman/listinfo/soc-cuest").list-group-item
        i.fa.fa-envelope.fa-3x.fa-pull-left.fa-fw
        | Liitu Cambridge'i eestlaste meililistiga soc-cuest.
      a(href="https://www.facebook.com/Cambridge-University-Estonian-Society-477008612493587/").list-group-item
        i.fa.fa-facebook.fa-3x.fa-pull-left.fa-fw
        | Värskeid uudiseid leiad meie Facebooki lehelt.

.page-header
  h1 Üritused

.row
  .col-md-12
    h2 Lent Term 2016
    table.table
      thead
        tr
          th Kuupäev
          th Üritus
      tbody
        tr
          td.date Jaanuar
          td Filmiõhtu Trinitys
        tr
          td.date Veebruar
          td Formal Trinitys
        tr
          td.date 24. veebruar
          td Eesti Vabariigi aastapäev
        tr
          td.date Märts
          td Viinapidu
.row
  .col-md-12
    h2 Michaelmas Term 2016
    table.table
      thead
        tr
          th Kuupäev
          th Üritus
      tbody
        tr
          td.date 29. november
          td Balti jõuluteemaline pubiõhtu
        tr
          td.date 18. november
          td Arvo Pärt: Passio kontsert
        tr
          td.date 17. november
          td Formal Homerton College's
        tr
          td.date 22. oktoober
          td Aasta üldkoosolek (AGM) – uue juhatuse valimine
