.page-header
  h1 Seltsi sponsorid

.row
  .col-md-6
    a(href="https://www.palantir.com/" target="_blank")
      img(src="img/palantir.png" alt="Palantir" height="63")
  .col-md-6
    img(src="img/dhl.gif" alt="DHL")
