.page-header
  h1 Seltsi partnerid

.row
  .col-md-4.col-xs-12
    a(href="http://cambridgebalticconference.eu/" target="_blank")
      img(src="img/cbc-logo.png" title="Cambridge Baltic Conference" height="120").img-responsive

.page-header
  h1 Seltsi sponsorid

.row
  .col-md-4.col-xs-12
    a(href="https://www.palantir.com/" target="_blank")
      img(src="img/palantir.png" title="Palantir" height="63").img-responsive
